<style>
    body {
        /* padding: 0;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: flex-end; 
        align-items: center; */
        background-color: #e0e1e6;
        background-image: url(https://wallpaperaccess.com/full/1132478.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        opacity:1;
        
    }

    #text-container {
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    #text-container1 {
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        position: absolute;
        transform: translateY(-50%);
        width: 100%;
        top: 155px;
    }



</style>
<div id="text-container1">
   <center>
     <!-- <h6 style="animation: fadeInUp 1s ease-out;text-shadow: 3px 3px 3px rgba(222, 193, 214, 0.8);color: #0b0a0a;font-size: 55px;width: 100%;">Angadi Institute of Technology and Management  </h6> -->
    </center>
    </div>
<div id="text-container" style="margin-top: 5%;">
    <h1 class="bg-opacity-0" style="  animation: fadeInUp 1s ease-out;text-shadow: 3px 3px 3px rgba(85, 6, 63, 0.8);color: #000000;font-size: 50px;margin-left: 15%;">Image Based Plant Disease Detection  </h1>
    <!-- <p style="font-size: 30px;color: #0c0c0c;animation: fadeInUp 1.5s ease-out;margin-top: 1px;margin-left: 20%;">Efficiency, Transparency, Cost reduction.</p> -->
</div>